## Competição DSA 2019/03
<h3>Prever vendas das Farmácias Solar</h3>

In [1]:
# Importar as bibliotecas necessárias para este notebook
from fastai.tabular import *
from isoweek import Week

In [2]:
# importar os arquivos para dataframes:
train_file = pd.read_csv('dataset_treino.csv')
test_file  = pd.read_csv('dataset_teste.csv')
store_file = pd.read_csv('lojas.csv')

/home/angelo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Visualiar primeiras linhas dos arquivos:
train_file.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
test_file.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [5]:
store_file.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [6]:
# Alterar o tipo da coluna StateHoliday de int para booleano
train_file.StateHoliday = train_file.StateHoliday != '0'
test_file.StateHoliday  = test_file.StateHoliday  != '0'

In [7]:
# Utilizar a automatização da biblioteca fast.ai para acrescentar colunas time-series
add_datepart(train_file, "Date", drop=False)
add_datepart(test_file,  "Date", drop=False)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,1,1,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
1,2,3,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
2,3,7,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
3,4,8,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
4,5,9,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
5,6,10,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
6,7,11,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
7,8,12,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
8,9,13,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
9,10,14,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
10,11,15,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
11,12,16,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
12,13,19,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
13,14,20,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
14,15,21,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
15,16,22,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
16,17,23,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
17,18,24,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
18,19,25,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
19,20,27,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
20,21,29,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
21,22,30,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
22,23,31,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
23,24,32,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
24,25,33,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
25,26,35,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
26,27,36,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
27,28,38,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
28,29,39,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
29,30,40,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,41059,1077,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41059,41060,1078,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41060,41061,1079,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41061,41062,1080,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41062,41063,1083,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41063,41064,1084,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41064,41065,1086,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41065,41066,1087,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41066,41067,1088,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41067,41068,1089,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41068,41069,1091,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41069,41070,1092,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41070,41071,1094,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41071,41072,1096,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41072,41073,1097,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41073,41074,1099,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41074,41075,1100,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41075,41076,1101,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41076,41077,1102,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41077,41078,1103,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41078,41079,1104,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41079,41080,1105,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41080,41081,1106,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41081,41082,1107,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41082,41083,1109,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41083,41084,1111,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41084,41085,1112,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41085,41086,1113,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41086,41087,1114,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41087,41088,1115,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200

In [11]:
train_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 22 columns):
Store               1017209 non-null int64
DayOfWeek           1017209 non-null int64
Date                1017209 non-null datetime64[ns]
Sales               1017209 non-null int64
Customers           1017209 non-null int64
Open                1017209 non-null int64
Promo               1017209 non-null int64
StateHoliday        1017209 non-null bool
SchoolHoliday       1017209 non-null int64
Year                1017209 non-null int64
Month               1017209 non-null int64
Week                1017209 non-null int64
Day                 1017209 non-null int64
Dayofweek           1017209 non-null int64
Dayofyear           1017209 non-null int64
Is_month_end        1017209 non-null bool
Is_month_start      1017209 non-null bool
Is_quarter_end      1017209 non-null bool
Is_quarter_start    1017209 non-null bool
Is_year_end         1017209 non-null bool
Is_year_start       1017209 non-null bool
Elapsed             1017209 non-null int64
dtypes: bool(7), datetime64[ns](1), int64(14)
memory usage: 123.2 MB

In [14]:
test_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 21 columns):
Id                  41088 non-null int64
Store               41088 non-null int64
DayOfWeek           41088 non-null int64
Date                41088 non-null datetime64[ns]
Open                41077 non-null float64
Promo               41088 non-null int64
StateHoliday        41088 non-null bool
SchoolHoliday       41088 non-null int64
Year                41088 non-null int64
Month               41088 non-null int64
Week                41088 non-null int64
Day                 41088 non-null int64
Dayofweek           41088 non-null int64
Dayofyear           41088 non-null int64
Is_month_end        41088 non-null bool
Is_month_start      41088 non-null bool
Is_quarter_end      41088 non-null bool
Is_quarter_start    41088 non-null bool
Is_year_end         41088 non-null bool
Is_year_start       41088 non-null bool
Elapsed             41088 non-null int64
dtypes: bool(7), datetime64[ns](1), float64(1), int64(12)
memory usage: 4.7 MB

In [15]:
# join_df é uma função para unir tabelas. Por padrão, faz-se um  left outer join
# do argumento à direita usando os campos fornecidos para cada tabela.
# O join no Pandas é feito usando merge
# O argumento de sufixos descreve a convenção de nomenclatura para campos duplicados. 
# Foram mantidos os nomes dos campos duplicados à esquerda e acrescentado sufixo "_y"
# aos que estão à direita.

def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

In [16]:
# anexar os dados das lojas ao de teste e de treino
# a coluna store é utilizada como key para a junção
treino = join_df(train_file, store_file, "Store")
teste  = join_df(test_file,  store_file, "Store")
len(treino[treino.StoreType.isnull()]), len(teste[teste.StoreType.isnull()])

(0, 0)

In [17]:
# Valores missing serão tratados com um sinal arbitrário que não está nos dados
for df in (treino, teste):
    df['CompetitionOpenSinceYear']  = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear']           = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek']           = df.Promo2SinceWeek.fillna(1).astype(np.int32)

In [18]:
# Extrair características dos campos "CompetitionOpenSince" e "CompetitionDaysOpen"
for df in (treino, teste):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

In [19]:
# Dar consistência aos dados eliminando valores negativos e
# tratando datas com ano inferior a 1990
for df in (treino, teste):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [21]:
# Criar campo "CompetitionMonthsOpen", limitando o máximo de 2 anos para inibir o
# número de categorias únicas
for df in (treino, teste):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24

# Visualizar o resultado
treino.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,  1, 14, 20,  8, 18,  6, 21,  5])

In [23]:
for df in (treino, teste):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(
        x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1).astype(pd.datetime))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

In [24]:
for df in (treino, teste):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [27]:
# Criar diretórios
PATH=Path('data/')
treino.to_pickle(PATH/'treino')
teste.to_pickle(PATH/'teste')

In [28]:
# Criar função get_elapsed para contagem cumulativa em um dataframe ordenado.
# A partir de um campo, a função irá iniciar o tempo de rastreamento desde a
# última ocorrência daquele campo. Quando o campo for visto novamente, o contador
# é definido como zero.
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

In [29]:
# A função será aplicada às seguintes colunas:
colunas = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [32]:
#df = train[columns]
df = train_file[colunas].append(test_file[colunas])

In [33]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [34]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [35]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [36]:
# Transforma date em index
df = df.set_index("Date")

In [37]:
colunas = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [39]:
# Trata nulidade
for o in ['Before', 'After']:
    for p in colunas:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

In [41]:
bwd = df[['Store']+colunas].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [42]:
fwd = df[['Store']+colunas].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [43]:
# Em seguida, eliminar os índices Store agrupados na função window
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [44]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [45]:
df.reset_index(inplace=True)

In [46]:
# Juntar os dataframes
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [49]:
df.drop(colunas,1,inplace=True)

In [50]:
df.to_pickle(PATH/'df')

In [51]:
df["Date"] = pd.to_datetime(df.Date)

In [52]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [53]:
treino = pd.read_pickle(PATH/'treino')
teste = pd.read_pickle(PATH/f'teste')

In [55]:
treino = join_df(treino, df, ['Store', 'Date'])
teste  = join_df(teste, df, ['Store', 'Date'])

In [57]:
treino = treino[treino.Sales!=0]

In [59]:
treino.reset_index(inplace=True)
teste.reset_index(inplace=True)

ValueError: cannot insert level_0, already exists

In [ ]:
treino.to_pickle(PATH/'train_clean')
teste.to_pickle(PATH/'test_clean')