# Competição DSA 2019/06
<h3>Objetivo: Prever Índice de Lealdade</h3>
<h4>Informações gerais disponíveis no <a href="https://www.kaggle.com/t/84f9cb851e9a428fa9fe54644df35f5c">Kaggle</a> </h4>
<h4>Parte 2: processo de ML</h4>

In [1]:
# Importar as bibliotecas necessárias para este notebook
import pandas as pd
import numpy  as np
from sklearn import ensemble
from sklearn import datasets
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error

In [2]:
# Importar os arquivos criados na parte 1
df_teste      = pd.read_csv('df_teste.csv')
df_treino     = pd.read_csv('df_treino.csv')

<h3>Ajustes finais para o processo de ML</h3>

In [3]:
df_treino.head()

,card_id,feature_1_1,feature_1_2,feature_1_3,feature_1_4,feature_1_5,feature_2_1,feature_2_2,feature_2_3,feature_3_1_0,alvo,oldest_Activation,latest_Activation
0,C_ID_92a2005557,0,0,0,0,1,0,1,0,1,-0.820283,0.071233,0.909589
1,C_ID_3d0044924f,0,0,0,1,0,1,0,0,0,0.392913,0.013699,1.241096
2,C_ID_d639edf6cd,0,1,0,0,0,0,1,0,0,0.688056,0.446575,1.739726
3,C_ID_186d6a6901,0,0,0,1,0,0,0,1,0,0.142495,0.068493,0.624658
4,C_ID_cdbd2c0db2,1,0,0,0,0,0,0,1,0,-0.159749,0.030137,0.487671

In [4]:
df_teste.head()

,card_id,feature_1_1,feature_1_2,feature_1_3,feature_1_4,feature_1_5,feature_2_1,feature_2_2,feature_2_3,feature_3_1_0,oldest_Activation,latest_Activation
0,C_ID_0ab67a22ab,0,0,1,0,0,0,0,1,1,0.008219,0.912329
1,C_ID_130fd0cbdd,0,1,0,0,0,0,0,1,0,0.032877,1.298630
2,C_ID_b709037bc5,0,0,0,0,1,1,0,0,1,0.065753,0.580822
3,C_ID_d27d835a9f,0,1,0,0,0,1,0,0,0,0.008219,0.375342
4,C_ID_2b5e3df5c2,0,0,0,0,1,1,0,0,1,1.093151,2.271233

In [5]:
df_treino['target'] = df_treino['alvo']
df_treino.drop('alvo', axis = 1, inplace = True)

In [6]:
df_treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201917 entries, 0 to 201916
Data columns (total 13 columns):
card_id              201917 non-null object
feature_1_1          201917 non-null int64
feature_1_2          201917 non-null int64
feature_1_3          201917 non-null int64
feature_1_4          201917 non-null int64
feature_1_5          201917 non-null int64
feature_2_1          201917 non-null int64
feature_2_2          201917 non-null int64
feature_2_3          201917 non-null int64
feature_3_1_0        201917 non-null int64
oldest_Activation    201917 non-null float64
latest_Activation    201917 non-null float64
target               201917 non-null float64
dtypes: float64(3), int64(9), object(1)
memory usage: 20.0+ MB

In [7]:
# Preparar os dados para normalização e ML
colunas = ['feature_1_1', 'feature_1_2', 'feature_1_3', 'feature_1_4',
       'feature_1_5', 'feature_2_1', 'feature_2_2', 'feature_2_3',
       'feature_3_1_0', 'oldest_Activation', 'latest_Activation']

In [8]:
# Separar os dados
X = df_treino[colunas]
y = df_treino['target']

In [9]:
X, y = shuffle(df_treino[colunas], df_treino.target, random_state=123)
X = X.astype(np.float32)
offset = int(X.shape[0] * 0.9)
X_train, y_train = X[:offset], y[:offset]
X_test, y_test = X[offset:], y[offset:]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [11]:
sc = StandardScaler()  
X_train = sc.fit_transform(X_train)  
X_test = sc.transform(X_test)

/home/angelo/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/angelo/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/home/angelo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
regressor = RandomForestRegressor(n_estimators=2000, random_state=0)  
regressor.fit(X_train, y_train)  
y_pred = regressor.predict(X_test)

In [17]:
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Root Mean Squared Error: 4.120917104890294

In [ ]:
# 4.183912812731864
# 4.120917104890294

In [ ]:
# Fazer previsões no modelo treinado
predictions = xg_reg.predict(df_teste[colunas])

In [ ]:
df_teste['target'] = predictions

In [ ]:
df_teste.head()

In [ ]:
cols_resp = ['card_id', 'target']

In [ ]:
resposta = df_teste[cols_resp]

In [ ]:
resposta.head()

In [ ]:
resposta.to_csv('respxgb.csv', index=False)